h1, h2, h3, h4, h5, h6, h7, p, span {
	font-family: "Source Code Pro", sans-serif!important;
	text-transform: none!important;
}

html {
	overflow-x: hidden;
}

code {
	background-color: transparent;
}
.standard {
	margin: 1rem 0 !important;
}

.panel {
	padding-left: 1em;
	margin-bottom: 1em;
}

.subskills {
	padding-left: 2em;
}

.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	text-align: center;
}

a > i {
	margin: 0.3em 0;
	padding: 0 0.5em;
	color: #cb4b16!important;
}

a {
	text-decoration: none;
	color: #2aa198!important;
}

a:hover, a:focus {
	text-decoration: underline;
}

.offset {
	height: 55px;
}

#intro{

  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

#intro:nth-child(2){
  animation: type2 8s steps(60, end);
}


.cursior{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
